---
import { Image, Picture } from '@astrojs/image/components';

const { post } = Astro.props
---

<a href={post.url}>
  <div class="mt-4 mb-4 max-w-sm">
    {post.image && <img src={post.image} class="object-cover w-96 h-96" alt={post.imageAlt} />
    <h1 class="text-3xl">{post.title}</h1>
    <time class="text-lg text-gray-500">{post.publishDate}</time>
    <p>{post.description}</p>
  </div>
</a>