---
const { title, ogTitle, description, image, imageAlt } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content={ogTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content={imageAlt} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
